* {
	padding: 0px;
	margin: 0px;
}

html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
    background-color: #343434;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

.app {
	height: 100%;
	width: 100%;
}

.error-panel {
	color: red;
}

.loading-indicator {
	position: fixed;
	padding-left: 48vw;
	padding-top: 40vh;
}

.material-icons.md-36 {
	font-size: 36px !important;
}

.material-icons.md-48 {
	font-size: 48px !important;
}

#map {
	position: fixed;
	top: 5%;
	width: 100%;
	z-index: -1;
}

#map svg {
	width: 75%;
	height: auto;
}

#version {
	position: absolute;
	bottom: 5px;
	right: 5px;
	color: white;
	display: flex;
	flex-direction: column;
}

#version > span:hover {
	cursor: pointer;
}

#version-expanded {
	font-size: 13px;
	position: absolute;
	right: 40px;
	bottom: 2px;
	background-color: #555555;
	width: 250px;
	height: 32px;
	border-radius: 5px;
}

#version-expanded > a {
	color: white;
}

#data-select {
	box-sizing: border-box;
	padding-top: 4px;
	padding-left: 4px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-content: flex-start;
}

.multiselect__single {
	white-space: nowrap;
	overflow: hidden;
}

.filters {
	width: 150px;
}

.filters.expanded {
	display: flex;
	flex-grow: 20;
	flex-direction: column;
}

.collapse-filters {
	cursor: pointer;
	display: flex;
	min-width: 40px;
	color: white;
	flex-direction: column;
	justify-content: center;
}

.select-menu {
	margin-bottom: 8px;
	box-shadow: 0 2px 5px 1px #111;
}

#color-sets {
	margin-top: 8px;
	width: 150px;
	height: 30px;
}

#map-options {
	box-sizing: border-box;
	width: 100%;
	display: flex;
	flex-direction: column;
}

#map-options .color-select {
	margin-bottom: 8px;
	box-shadow: 0 -1px 5px 2px #111;
}

#color-options {
	box-sizing: border-box;
	padding-left: 4px;
	display: flex;
	flex-direction: column;
}

.color-entry {
	display: flex;
	align-items: center;
}

.color-tile {
	width: 27px;
	height: 27px;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 0 1px 5px 2px #111;
}

.color-tile.active {
	border-left: 3px solid black;
}

.color-range {
	padding-left: 8px;
	color: white;
	font-size: 16px;
}

#colorKey {
	width: 100%;
	height: 100%;
}

@media (max-width: 1180px) {
	#map {
		top: 25%;
	}

	#map svg {
		width: 95%;
		height: auto;
	}

	#language-selection {
		bottom: 4px;
	}
}

@media (max-width: 1080px) {
	#map {
		top: 30%;
	}
}

@media (max-width: 980px) {
	#color-options {
		position: fixed;
		bottom: 4px;
	}
}